<tr id="<%= dom_id guest %>">
  <td>
    <%= guest.name %>
  </td>
   <td>
    <% if guest.status == "coming" %>
      מגיע
    <% else %>
      לא מגיע
    <% end %>
  </td>
   <td>
    <%= guest.amount %>
  </td>
   <td>
    <%= guest.people %>
  </td>
  <!--
  <td>
  <%# button_to "Destroy", @guest, method: :delete %>
  </td>
  -->
</tr>