<div id="<%= dom_id food %>">
  <p>
    <strong>Title:</strong>
    <%= food.title %>
  </p>

  <p>
    <strong>Guest name:</strong>
    <%= food.guest_name %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= food.category %>
  </p>

</div>
