* {
	font-family: "Assistant", sans-serif;
}
:root{
	--primary: #33adfc;
}
body,
input,
select {
	background: #edf7fc;
}
main {
	width: 90%;
	margin: 2rem auto;
}
a {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}

a.active {
	font-weight: bold;
	font-size: 1.1rem;
}

.page-title {
	padding: 1rem;
}
@media screen and (min-width: 900px) {
	main {
		width: 60%;
		margin: 2rem auto;
	}
	.category {
		width: 30%;
	}
	.page-title {
		/* display: none; */
		width: 60%;
		margin: 2rem auto;
		padding: 0;
	}
}

a.link{
	color: var(--primary);
	text-decoration: underline;
}