<% session[:is_sleeping] = "true" if params[:sleep] == "yes" && session[:is_sleeping].blank? %>
<%= image_tag 'invitation.webp', class: "invite-img" %>

<p class="invitation-description">
    אנחנו מתרגשים להזמינכם/ן לחתונה שלנו! <br>
    האירוע יתקיים בשטח פתוח, זכרו להביא נעליים נוחות!
</p>
<% if session[:is_sleeping] == "true" %>
    <p class="sleeping-description">
        היי לכם, חברים , חברות ומשפחה יקרים ויקרות שלנו!!!! 

        אם קיבלתם את הלינק הזה, זה אומר שאתם יקרים לליבנו במיוחד(!) ורצינו להזמין אתכם להשאר איתנו ללילה ולחגוג עד אור הבוקר!
        אחרי המסיבה הגדולה נשאר למדורה, שירים ונשנושים!
        ואם יש דברים נוספים ויצירתיים שתרצו להביא מעצמכן לחלק הזה של הלילה יותר מנשמח!

        הלינה תהיה על מחצלות ומזרונים תחת כיפת השמיים.
        בבוקר נאכל יחד ארוחת בוקר מפנקת ונתפזר!

        מוזמנים להביא אתכם לחלק זה של הערב משקה משמח לבב אנוש.
        מלבד זה מומלץ לארוז בתיק: 
        מצעים
        שק שינה או שמיכה דקה
        פיג'מה סקסית במיוחד 
        מברשת שיניים 
        בגדי החלפה לבוקר

        נשמח אם בנוסף לאישור הגעה לחתונה תמלאו גם האם תשארו לחגוג איתנו עד אור הבוקר בחלק השני של החגיגות❤️

        לא מצליחים להפסיק להתרגש!
        אוהבים ומצפים!
        גל ואביב
    </p>
<% end %>
<div class="grid">
    <%= link_to arrival_path do %>
       <span>אישור הגעה</span>
        <%# image_tag 'star.webp' %>
    <% end %>
    <%= link_to location_path do %>
       <span>מיקום</span>
        <%# image_tag 'wheel.webp' %>
    <% end %>
</div>
