<div class="invite"><h1>יונתן ונעה מתחתנים</h1>
<p>
אנחנו נרגשים להזמין אתכם/ן 
</p><h2>לחגוג עימנו את יום חתונתנו</h2><p>
    ביום חמישי 9.6.22
    בבריכה בקיבוץ הראל
    18:30 - קבלת פנים  
    19:30 - חופה
    נשמח לראותכם/ן!
    </p>
<%= image_tag 'clam.webp' %>
</div>