<div class="location">
רושמים בוויז "בריכה קיבוץ הראל"

הבריכה נמצאת בכניסה לקיבוץ הראל מצד שמאל
(קישור למיקום בוויז)
באים/ות ברכב? צריכות/ים טרמפ? תרשמו בקבוצת טרמפים!
(קישור לקבוצת טרמפים)
</div>

<%= image_tag 'wheel.webp', class: "bg-img" %>