<div class="location">רושמים בוויז "בריכה קיבוץ הראל"

הבריכה נמצאת בכניסה לקיבוץ הראל מצד שמאל
<%= link_to 'המיקום בוייז', "https://waze.com/ul/hsv8ugymhu", class: "link" %>
באים/ות ברכב? צריכות/ים טרמפ? תרשמו <%= link_to 'בקבוצת הטרמפים', "https://chat.whatsapp.com/J5lHYZRey8FIYog1gMkZfP", class: "link" %>!

</div>

<%= image_tag 'wheel.webp', class: "bg-img relative" %>