<div class="location">
רושמים בוויז "חוות דרך התבלינים"
</div>
<div class="hitch-hiking">
בכדי להקל על כולם בהגעה ובחזרה, ועל הדרך גם לתרום לכדור הארץ שלנו, פתחנו לוח טרמפים קל לשימוש! 
באים/ות ברכב? שבצו את הרכב בטבלה, כתבו את עצמכם/ן (או נוסע/ת נוסף/ת שנוסע/ת אתכם/ן) כאיש/ת קשר, וכתבו את מספר המקומות הפנויים לטרמפיסטים במקום המיועד לכך.
צריכים טרמפ? בדקו אם יש רכב שיוצא מאזורכם/ן או עובר בנקודת איסוף רלוונטית, רשמו את עצמכם/ן בטבלה וצרו קשר עם איש/ת הקשר בכדי לוודא שאכן הנסיעה מתאימה לשניכם ועשויה לסייע לכם/ן!

בהצלחה!!!

<%= link_to 'לוח טרמפים', "https://docs.google.com/spreadsheets/d/1x7wIIk79Nyz5fHdz0tAoC3An3sge1RGYy_9MIzveO9k/edit?usp=sharing", class: "link" %>
</div>

<%# image_tag 'wheel.webp', class: "bg-img relative" %>