<div class="location">
רשמו בווייז- "חוות דרך התבלינים- בית לחם הגלילית".
שימו לב, ביום חמישי הכבישים עמוסים במיוחד! מומלץ לקחת מרווח בטחון.
<%= link_to 'המיקום בוויז', "https://waze.com/ul/hsvc40wpmm", class: "link" %>
</div>
<div class="hitch-hiking">
כדי להקל על כולם בהגעה ובחזרה, ועל הדרך גם לתרום לכדור הארץ שלנו, פתחנו לוח טרמפים קל לשימוש!

באים/ות ברכב? שבצו את הרכב בטבלה, כתבו את עצמכם/ן  כאיש/ת קשר.

צריכים טרמפ? בדקו אם יש רכב שיוצא מאזורכם/ן או עובר בנקודת איסוף רלוונטית, רשמו את עצמכם/ן בטבלה וצרו קשר עם הנהג/ת כדי לוודא שאכן הנסיעה מתאימה לשניכם ויכולה לסייע לכם/ן!

נסיעה טובה ובטוחה!

<%= link_to 'לוח טרמפים', "https://docs.google.com/spreadsheets/d/1x7wIIk79Nyz5fHdz0tAoC3An3sge1RGYy_9MIzveO9k/edit?usp=sharing", class: "link" %>
</div>

<%# image_tag 'location.png', class: "bg-img relative" %>