<div class="location">
    רושמים בוויז "חוות דרך התבלינים"
    <%# link_to 'המיקום בוייז', "https://waze.com/ul/hsv8ugr030", class: "link" %>
</div>

<%= image_tag 'wheel.webp', class: "bg-img relative" %>