<div class="social-wedding">משפחה, חברות וחברים יקרות ויקרים!
אנחנו ממש שמחים ומתרגשות לחגוג אתכם/ן את יום חתונתנו!
כשהתחלנו לחשוב על אופי החתונה שנרצה לקיים, הבנו שנרצה אירוע שיביע חברות ועשייה משותפת ולכן בחרנו לקיים חתונה חברתית.
<strong>
מה זה אומר?
</strong>אנו מזמינים אתכם/ן לקחת חלק פעיל בהכנת סעודת החתונה - רוב האוכל יהיה מבוסס על הבישולים הנפלאים שלכם/ן (ללא תחושת מחוייבות).
<strong>לטובת המגוון, הסדר והארגון נשמח שתוסיפו את המנה שחשבתם/ן להכין <%= link_to 'בעמוד התפריט.', menu_path, class:"link" %>
</strong><strong>
אז איך זה עובד?
</strong>החתונה היא טבעונית/צמחונית, ז"א ללא מוצרים מהחי (בשר, עוף, דגים, מוצרי חלב וביצים).
אתם/ן מוזמנים/ות להביא מנה לפי רצונכם/ן בדומה לארוחת חג משפחתית, לא צריך לבשל ל-300 אורחים/ות.
נשמח שתביאו את המטעמים בכלי הגשה, עדיפות לרב פעמי, שיחזור אליכם בסוף האירוע.
במקום יהיו תנורי חימום ומקררים.

הכי חשוב לנו שתדעו שהנוכחות שלכם ביום שלנו היא הדבר הכי חשוב והכי משמח עבורנו!
אפשר להביא מתנות או כסף לפי היכולת והרצון אבל לא מתוך תחושת מחוייבות לכסות עלויות.
נשמח מאוד לקבל ברכות, הבעות חיבה וחיבוקים חמים (:
לכל שאלה ובירור אפשר לדבר עם … 

מצפים ומתרגשות לראותכם/ן,
יונתן ונעה
</div>

<%= image_tag 'leaf.webp', class: "bg-img" %>