<div class="volunteer">

תודה רבה שהחלטתם/ן לקחת חלק בהקמת החתונה!
מכיוון שהחתונה חברתית אנחנו מנסים להשאיר את הארגון וההקמה באווירה משפחתית וחברית. נשמח אם תרצו לקחת חלק בעיצוב, הקמה, פירוק ועוד, כמובן בהתאם לרצון וליכולת.
<%= link_to 'בטבלה', "https://docs.google.com/spreadsheets/d/1wAqIzxQltp-btkjoOIaUv-ujRphiZt1NypbouD2Wjfk/edit?usp=sharing", class:"link" %> יש משימה, הזמנים בהם היא מתבצעת ותיאור כללי של המשימה, תוכלו גם לראות מי כבר משובץ/ת.
לשאלות בנוגע לטבלה אפשר לפנות ל…

<%= link_to 'הטבלה', "https://docs.google.com/spreadsheets/d/1wAqIzxQltp-btkjoOIaUv-ujRphiZt1NypbouD2Wjfk/edit?usp=sharing", class:"volunteer-table" %>

תודה רבה!

</div>

<%= image_tag 'clam.webp', class: "bg-img" %>